extends common/layout

block content
 .container__info
  p.container__info_work-name How Dreamshare works?
  .container__info_card1
    p.button STEP 1
    p.h1 Sed leo enim, condimentum
    p.text
      | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
  .container__info_card2
    p.button STEP 2
    p.h1 Morbi velit risus
    p.text
      | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
  .container__info_card3
    p.button STEP 3
    p.h1 Sed leo enim, condimentum
    p.text
      | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
 .container__meet
  p.container__meet_name Meet a partner for your best holiday
  .avatar1
    .photo
    p.ava-h Bradley Hunter
    p.ava-p  Based in Chicago. I love playing tennis and loud music.
  .avatar2
    .photo
    p.ava-h Marie Bennett
    p.ava-p Currently living in Colorado. Lover of art, languages and travelling.
  .avatar3
    .photo
    p.ava-h Diana Wells
    p.ava-p
      | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
  .avatar4
    .photo
    p.ava-h Christopher Pierce
    p.ava-p Star Wars fanatic. I have a persistent enthusiasm to create new things.
  button.meet-buuton See other partners
 .container__ideas
  p.container__ideas_name Discover holiday activity ideas
  .img1
  .img2
  .img3
  .img4
  .img5
  .img6
  .img7
 .container__crate
  p.container__crate_name Crate your holiday activity
  p.text-1 Hi! What are your holiday interests?
  form
    input(type='text' placeholder='Enter your insterests')
    button.crate-buuton Search partners