footer
  .container__footer
    .box
      p.logo DREAMSHARE
      p.name Company
      p.name.par Partners
      p.text-2
        | About 
        br
        |                Contact 
        br
        |                Press 
        br
        |                Blog 
        br
        |                Terms and Privacy 
        br
        |                Help
      .b DESIGNED BY
      .b1
