
.container__home
    p.container__home_logo DREAMSHARE
    p.container__home_lo-in Log in
    p.container__home_sign-up Sign up
    p.container__home_name
      | SHARE YOUR 
      br
      |       HOLIDAY DREAM
    p.container__home_text And find the perfect partner to fullfill it
    button.container__home_button Find your holiday partner